@import "./mixin.scss";

//reset
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    font-family: 'Alegreya', serif;
    margin-block-start: 0;
    margin-block-end: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
}

h3 {
    font-size: 27px;
    text-transform: uppercase;

    @include tablet {
        font-size: 30px;
    }
}

@mixin svg($url, $width, $height) {
    background-image: $url;
    width: $width;
    height: $height;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

article {
    margin-bottom: 100px;
}

html {
    &.overflowHidden {
        overflow: hidden;
        position: relative;

        body {
            overflow: hidden;
            position: relative;
        }
    }
}

h1 {
    color: transparent;
    width: 0;
    height: 0;
}

.notAlink:not(.angleDown) {
    color: white;
    padding: 10px 0;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-size: 17px;
}

//-------------------------------//
.modal {
    display: none;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);

    >div {
        padding: 20% 2% 30%;
        text-align: right;

        @include tablet {
            padding: 30% 2%;
            width: 60%;
            margin: 0 auto;
            background-color: transparent;
        }
    }
}

.modal img {
    width: 100%;
    display: block;
}

.modalImage {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close {
    color: white;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

//HEADER

header {
    .hamburgerContainer {
        background-color: black;
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        padding: 0 10px;
        display: flex;
        height: 60px;
        align-items: center;
        z-index: 2000;
        justify-content: space-between;

        @include tablet {
            display: none;
        }

        .logo {
            img {
                padding-top: 5px;
                width: 75px;
            }
        }

        .hamburger {
            display: inline-block;

            .line {
                width: 30px;
                height: 4px;
                background-color: #ecf0f1;
                display: block;
                margin: 5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            &.active {
                .line {
                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(1) {
                        -webkit-transform: translateY(5px) rotate(45deg);
                        -ms-transform: translateY(5px) rotate(45deg);
                        -o-transform: translateY(5px) rotate(45deg);
                        transform: translateY(5px) rotate(45deg);
                    }

                    &:nth-child(3) {
                        -webkit-transform: translateY(-13px) rotate(-45deg);
                        -ms-transform: translateY(-13px) rotate(-45deg);
                        -o-transform: translateY(-13px) rotate(-45deg);
                        transform: translateY(-13px) rotate(-45deg);
                    }
                }
            }
        }
    }

    nav {
        background-color: #000000ed;
        transition: width 0.5s ease;
        width: 0;
        top: 60px;
        right: 0;
        box-sizing: border-box;
        right: 0;
        z-index: 2000;
        position: fixed;
        height: auto;

        li {
            display: none;
        }

        &.open {
            width: 100%;

            li {
                display: block;
                padding-bottom: 25px;
                width: 100%;
                &.active a {
                    border-bottom: 4px solid white;                  
                }

                &:first-of-type {
                    padding-top: 25px;
                }

                a {
                    font-size: 20px;
                    font-weight: bold;
                    padding: 5px 10px;
                    width: fit-content;
                    text-align: center;
                    margin: 0 auto;
                  
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 100vh;

            li {
                width: 16%;
                text-align: center;
                cursor: pointer;

                a {
                    padding: 5px;
                    color: white;
                    text-transform: uppercase;
                    display: block;
                    width: 100%;

                    @media (min-width: 1280px) {
                        font-size: 25px;
                    }
                }

                &.logo {
                    display: none;
                }

                &.slider {
                    display: none;
                }
            }
        }
    }
}

// HEADER TABLET - DESKTOP
header nav {
    @include tablet {
        transition: none;
        width: 100%;
        top: 0;

        ul {
            flex-direction: row;
            height: auto;
            justify-content: center;
            width: 97%;
            margin: 0 auto;

            li {
                display: block;
                border-bottom: 9px solid transparent;

                &:hover {
                    border-bottom: 9px solid grey;

                    a {
                        color: lightgray;
                    }
                }

                &.logo,
                &.slider {
                    border-bottom: none;
                    display: block;
                }

                &.slider {
                    position: absolute;
                    padding: 5px;
                    width: 14%;
                    background-color: #900a0a;
                    left: 0;
                    bottom: 0;
                    transition: left 0.2s linear;
                }

                &.logo {
                    width: 18%;
                    cursor: default;
                    position: relative;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                a {
                    padding: 40px 0;
                }
            }
        }

        &.sticky {
            background-color: black;
            box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.75);

            ul {
                position: relative;

                li {
                    a {
                        color: white;
                    }

                    &.logo {
                        visibility: visible;
                    }

                    &:hover {
                        a {
                            color: lightgray;
                        }
                    }
                }
            }
        }
    }
}

main {
    .cover {
        width: 100%;
        padding-bottom: 50px;

        >div {
            position: relative;
        }

        .slick-dots {
            bottom: 5px;
        }

        .slick-list {
            height: 100vh;
        }

        .slick-dotted.slick-slider {
            margin-bottom: 0;
        }

        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            height: 100vh;
        }

        .angleOverlay {
            width: 100%;
            position: absolute;
            top: 80%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .angleDown {
            @include svg(url(../images/svg/arrow_1.svg), 11%, 30px);
            cursor: pointer;

            &.bounce {
                -webkit-animation-name: bounce;
                animation-name: bounce;
                -webkit-transform-origin: center bottom;
                transform-origin: center bottom;
                animation-iteration-count: infinite;
                -webkit-animation-iteration-count: infinite;
            }

            &.animated {
                -webkit-animation-duration: 2s;
                animation-duration: 2s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
        }
    }

    .site-content {
        width: 95%;
        margin: auto;
    }

    //introduction
    .introduction {
        >p {
            font-family: 'Alegreya', serif;
            text-transform: uppercase;
            text-align: center;
            padding: 60px 10px 60px;
            font-weight: 900;
            font-size: 22px;
            line-height: 1.8em;

            strong {
                text-decoration: underline;
            }


            @include tablet {

                padding: 100px 20%;
                margin: 0;
                font-size: 70px;
                line-height: 1.8em;

            }
        }
    }

    #gallery {
        h3 {
            text-align: center;
            font-size: 30px;
            margin-bottom: 40px;
        }

        .slick-next {
            right: 10%;
            z-index: 100;

            &::before {
                background: url("../images/svg/arr_right.svg") no-repeat;
                content: "";
                display: block;
                height: 40px;
                width: 40px;
            }
        }

        .slick-prev {
            left: 10%;
            z-index: 100;

            &::before {
                background: url("../images/svg/arr_left.svg") no-repeat;
                content: "";
                display: block;
                height: 40px;
                width: 40px;
            }
        }

        .gallery {
            img {
                padding: 0 2%;

                @include tablet {
                    padding: 0 25%;
                }
            }
        }
    }

    .divider {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        img {
            width: 35%;

            @include tablet {
                width: 10%;
            }
        }
    }

    //menu
    #menu {
        text-transform: uppercase;

        .titleAndArrowContainer {
            display: flex;
            justify-content: space-between;
        }

        .ingredienti {
            text-transform: capitalize;
            font-size: 14px;
            color: grey;
        }

        .elenco {
            text-align: center;

            h4 {
                margin-bottom: 20px;
                font-size: 23px;
            }

            div:not(.piatto) {
                margin-bottom: 10px;
                padding-right: 20px;
            }

            @include tablet {
                display: flex;
                justify-content: space-between;
                text-align: left;
            }
        }

        .fas {
            @include svg(url(../images/svg/arr.svg), 5%, 11px);
        }

        .menuList>div {
            overflow: hidden;
            max-height: 60px;
            transition: max-height 0.5s ease-out;

            h3 {
                font-size: 24px;

                @include tablet {
                    font-size: 28px;
                }
            }

            &.open {
                max-height: 1080px;
                height: auto;
                transition: max-height 0.5s ease-in;

                .fas {
                    transform: rotateX(180deg);
                }
            }
        }

        .titleAndArrowContainer {
            align-items: center;
            margin-bottom: 20px;
            cursor: pointer;
            border-bottom: 2px solid black;
            padding: 10px 0;
        }

        .menuList {
            >div {
                margin: 0 auto 20px;

                @include tablet {
                    width: 90%;
                }

                @include desktop_start {
                    width: 80%;
                }
            }
        }

        .piatto {
            padding-bottom: 10px;
            font-size: 17px;
            text-align: center;
            text-transform: capitalize;

            .desktopView & {
                font-size: 20px;
                text-align: left;
            }

            .dots {
                flex: 1;
                border-bottom: 1px dotted black;
            }
        }

        .elenco h3 {
            margin-bottom: 30px;
        }

        .categoria {
            font-size: 25px;
            margin: 30px 0 10px;
            font-weight: bold;
        }
    }

    //-----------------BAR --------------------------//
    #bar {
        h3 {
            text-align: center;
            margin: 0 auto 30px;
        }

        .barList {
            text-align: center;
            font-size: 17px;

            @include tablet {
                display: flex;
                justify-content: space-between;
            }

            .categoria {
                font-size: 20px;
                margin-bottom: 10px;
                text-transform: uppercase;
                display: inline-block;
                border-bottom: 1px solid black;

                &:not(:first-of-type) {
                    margin-top: 10px;
                }
            }

            >div {
                @include tablet {
                    width: 45%;
                }

                margin-bottom: 50px;

                .container {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 0;
                    text-transform: capitalize;

                    .dots {
                        border-bottom: 1px dotted black;
                        flex: 1;
                    }
                }
            }
        }

        .containerVini {
            text-align: left;
            padding-bottom: 10px;

            >span {
                &:first-child {
                    display: block;
                    text-transform: capitalize;
                }

                &.descr {
                    font-size: 11px;
                }
            }
        }
    }

    //--------------------------- GALLERIA --------------------------//

    #galleria {
        .section {
            @include smartphone {
                text-align: center;
                display: flex;
                flex-direction: column;
                background-color: black;
                color: white;

                >div {
                    height: 300px;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    justify-content: center;
                    padding: 0 10%;

                    h3 {
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 20px;
                    }
                }

                .right {
                    display: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .second {
            .middle {
                order: 1;
            }
        }
    }

    @include tablet {
        #galleria {
            height: auto;
            display: flex;
            flex-direction: column;

            .section {
                display: block;
                position: relative;
                padding: 0;
                margin: 0;
                float: left;

                div {
                    width: 33.33%;
                    margin: 0 auto;
                    height: 22vh;

                    @include desktop_start {
                        height: 30vh;
                    }

                    @include desktop_mpdi {
                        height: 45vh;
                    }

                    @include desktop_middle {
                        height: 50vh;
                    }

                    .content,
                    .overlay {
                        width: 100%;
                        background-color: black;
                    }

                    .content {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    .overlay {
                        opacity: 0.5;
                        cursor: pointer;
                        position: absolute;
                    }

                    h3,
                    p {
                        color: white;
                    }

                    p {
                        padding: 0 16%;
                        font-size: 16px;
                        line-height: 1.5em;

                        @include desktop_mpdi {
                            font-size: 22px;
                        }
                    }

                    h3 {
                        font-size: 24px;
                        margin-bottom: 20px;

                        @include desktop_middle {
                            font-size: 28px;
                        }
                    }

                    &.left,
                    &.right {
                        position: absolute;
                        right: 50%;
                        transform: translateX(50%);
                        top: 0;
                        z-index: -100;
                        transition: 0.5s ease-in-out all;
                    }

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                &.animate {
                    .left {
                        left: 0;
                        transform: translateX(0);
                        right: unset;
                        z-index: 0;
                    }

                    .right {
                        display: block;
                        right: 0;
                        transform: translateX(0);
                        z-index: 0;
                    }
                }
            }
        }
    }

    //---------------------- CONTATTI -----------------//
    #contacts {
        margin-bottom: 50px;

        .orari {
            margin-top: 40px;

            @include tablet {
                margin-top: 0;
            }

            h3 {
                text-transform: uppercase;
                margin-bottom: 20px;
                font-weight: bold;
            }
        }

        @include tablet {
            .wrapper {
                display: flex;
                justify-content: space-between;
                padding-right: 5%;
            }
        }

        li {
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
            font-size: 20px;

            span:first-of-type {
                margin-right: 20px;
            }
        }

        .mapContainer {
            overflow: hidden;
            background: none !important;

            @include tablet {
                width: 70%;
            }

            img {
                width: 100%;
                display: block;
            }
        }
    }

    .beerGallery {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        @include tablet {
            flex-wrap: nowrap;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #00000059;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
        }

        >div:not(.overlay) {
            width: 33.33%;

            img {
                max-width: 100%;
                display: block;
            }
        }
    }

    //----------------- EVENTI ----------------------//

    #eventi {
        text-align: center;
        font-size: 25px;

        @include tablet {
            margin-bottom: 400px;
        }

        p {
            padding: 10px 0;
            font-weight: bold;
        }

        ul li {
            padding: 10px 0;
            text-decoration: underline;
        }

        .details {
            font-size: 15px;
        }

        &.noEvents {
            p {
                padding: 50px 0;
                font-size: 20px;
                text-align: center;
            }
        }
    }

    #eventi .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .eventContainer {
            display: flex;
            height: 200px;

            margin: 0.5%;
            align-items: center;
            box-shadow: 10px 10px 21px -12px rgba(0, 0, 0, 0.75);

            @include tablet {
                width: 24%;
            }

            .eventName {
                text-align: center;
                flex: 1;

                span {
                    font-size: 15px;
                }

                p {
                    padding: 5px;
                    text-transform: uppercase;
                }
            }

            .data {
                width: 120px;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                background: black;
                color: white;
                text-transform: uppercase;

                p {
                    text-align: center;
                    display: block;
                    padding-bottom: 5px;
                }
            }
        }
    }
}

//-----------------footer--------------------------
footer {
    height: auto;
    background-color: black;
    position: relative;

    .policy {
        text-align: right;
        width: 80%;
        margin: 0 auto;

        a {
            font-size: 10px;
            text-decoration: underline;

            @include tablet {
                font-size: 20px;
            }
        }
    }

    article {
        padding: 40px 0 0 0;
        margin: 0;
    }

    h2 {
        color: white;
    }

    .envelope {
        @include svg(url(../images/svg/mail.svg), 50px, 50px);
    }

    .mapMarker {
        @include svg(url(../images/svg/mapmarker.svg), 50px, 50px);
    }

    .phoneSvg {
        @include svg(url(../images/svg/phone.svg), 50px, 50px);
    }

    .facebook {
        @include svg(url(../images/svg/faceb.svg), 30px, 30px);
    }

    .instagram {
        @include svg(url(../images/svg/inst.svg), 30px, 30px);
    }

    .contattiContainer {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .fas,
    .far,
    .fab {
        font-size: 40px;
        color: white;
    }

    p,
    a {
        color: white;
        font-size: 20px;
        display: block;

        @include tablet {
            font-size: 25px;
        }
    }

    div {
        text-align: center;
        padding: 25px 0;

        &.social {
            border-top: 3px solid white;
        }

        p,
        a {
            padding: 20px;
        }

        .fab {
            padding: 0 10px;
        }

        span {
            margin-bottom: 15px;
        }
    }

    ul {
        width: 20%;

        li {
            display: flex;
            justify-content: space-between;

            span {
                color: white;
            }
        }
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
    }

    60% {
        -webkit-transform: translateY(-10px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}