* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

h2 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
  font-size: 40px; }

h3 {
  font-size: 27px;
  text-transform: uppercase; }
  @media (min-width: 769px) {
    h3 {
      font-size: 30px; } }

article {
  margin-bottom: 100px; }

html.overflowHidden {
  overflow: hidden;
  position: relative; }
  html.overflowHidden body {
    overflow: hidden;
    position: relative; }

h1 {
  color: transparent;
  width: 0;
  height: 0; }

.notAlink:not(.angleDown) {
  color: white;
  padding: 10px 0;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  font-size: 15px; }

.modal {
  display: none;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); }
  .modal > div {
    padding: 20% 2% 30%;
    text-align: right; }
    @media (min-width: 769px) {
      .modal > div {
        padding: 30% 2%;
        width: 60%;
        margin: 0 auto;
        background-color: transparent; } }

.modal img {
  width: 100%;
  display: block; }

.modalImage {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

.close {
  color: white;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

@-webkit-keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0.1); }
  to {
    transform: scale(1); } }

header .hamburgerContainer {
  background-color: black;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  height: 60px;
  align-items: center;
  z-index: 2000;
  justify-content: space-between; }
  @media (min-width: 769px) {
    header .hamburgerContainer {
      display: none; } }
  header .hamburgerContainer .logo img {
    padding-top: 5px;
    width: 75px; }
  header .hamburgerContainer .hamburger {
    display: inline-block; }
    header .hamburgerContainer .hamburger .line {
      width: 30px;
      height: 4px;
      background-color: #ecf0f1;
      display: block;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    header .hamburgerContainer .hamburger.active .line:nth-child(2) {
      opacity: 0; }
    header .hamburgerContainer .hamburger.active .line:nth-child(1) {
      -webkit-transform: translateY(5px) rotate(45deg);
      -ms-transform: translateY(5px) rotate(45deg);
      -o-transform: translateY(5px) rotate(45deg);
      transform: translateY(5px) rotate(45deg); }
    header .hamburgerContainer .hamburger.active .line:nth-child(3) {
      -webkit-transform: translateY(-13px) rotate(-45deg);
      -ms-transform: translateY(-13px) rotate(-45deg);
      -o-transform: translateY(-13px) rotate(-45deg);
      transform: translateY(-13px) rotate(-45deg); }

header nav {
  background-color: #000000ed;
  transition: width 0.5s ease;
  width: 0;
  top: 60px;
  right: 0;
  box-sizing: border-box;
  right: 0;
  z-index: 2000;
  position: fixed;
  height: auto; }
  header nav li {
    display: none; }
  header nav.open {
    width: 100%; }
    header nav.open li {
      display: block;
      padding-bottom: 25px;
      width: 100%; }
      header nav.open li:first-of-type {
        padding-top: 25px; }
      header nav.open li a {
        font-size: 20px;
        font-weight: bold; }
  header nav ul {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh; }
    header nav ul li {
      width: 16%;
      text-align: center;
      cursor: pointer; }
      header nav ul li a {
        padding: 5px;
        color: white;
        text-transform: uppercase;
        display: block;
        width: 100%; }
        @media (min-width: 1280px) {
          header nav ul li a {
            font-size: 25px; } }
      header nav ul li.logo {
        display: none; }
      header nav ul li.slider {
        display: none; }

@media (min-width: 769px) {
  header nav {
    transition: none;
    width: 100%;
    top: 0; }
    header nav ul {
      flex-direction: row;
      height: auto;
      justify-content: center;
      width: 97%;
      margin: 0 auto; }
      header nav ul li {
        display: block;
        border-bottom: 9px solid transparent; }
        header nav ul li:hover {
          border-bottom: 9px solid grey; }
          header nav ul li:hover a {
            color: lightgray; }
        header nav ul li.logo, header nav ul li.slider {
          border-bottom: none;
          display: block; }
        header nav ul li.slider {
          position: absolute;
          padding: 5px;
          width: 14%;
          background-color: #900a0a;
          left: 0;
          bottom: 0;
          transition: left 0.2s linear; }
        header nav ul li.logo {
          width: 18%;
          cursor: default;
          position: relative; }
          header nav ul li.logo img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
        header nav ul li a {
          padding: 40px 0; }
    header nav.sticky {
      background-color: black;
      box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.75); }
      header nav.sticky ul {
        position: relative; }
        header nav.sticky ul li a {
          color: white; }
        header nav.sticky ul li.logo {
          visibility: visible; }
        header nav.sticky ul li:hover a {
          color: lightgray; } }

main .cover {
  width: 100%;
  padding-bottom: 50px; }
  main .cover > div {
    position: relative; }
  main .cover .slick-dots {
    bottom: 5px; }
  main .cover .slick-list {
    height: 100vh; }
  main .cover .slick-dotted.slick-slider {
    margin-bottom: 0; }
  main .cover img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 100vh; }
  main .cover .angleOverlay {
    width: 100%;
    position: absolute;
    top: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  main .cover .angleDown {
    background-image: url(../images/svg/arrow_1.svg);
    width: 11%;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
    main .cover .angleDown.bounce {
      -webkit-animation-name: bounce;
      animation-name: bounce;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite; }
    main .cover .angleDown.animated {
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }

main .site-content {
  width: 95%;
  margin: auto; }

main .introduction > p {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
  font-size: 18px;
  padding: 60px 10px 60px;
  font-weight: bold; }
  main .introduction > p span {
    line-height: 1.8em; }
    main .introduction > p span:first-of-type {
      font-size: 22px; }
  main .introduction > p strong {
    text-decoration: underline; }
  @media (min-width: 769px) {
    main .introduction > p {
      font-size: 32px;
      padding: 100px 10%;
      margin: 0;
      font-weight: bold; }
      main .introduction > p span {
        line-height: 2em; }
        main .introduction > p span:first-of-type {
          font-size: 40px;
          line-height: 2.5em; } }

main #gallery h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px; }

main #gallery .slick-next {
  right: 10%;
  z-index: 100; }
  main #gallery .slick-next::before {
    background: url("../images/svg/arr_right.svg") no-repeat;
    content: "";
    display: block;
    height: 40px;
    width: 40px; }

main #gallery .slick-prev {
  left: 10%;
  z-index: 100; }
  main #gallery .slick-prev::before {
    background: url("../images/svg/arr_left.svg") no-repeat;
    content: "";
    display: block;
    height: 40px;
    width: 40px; }

main #gallery .gallery img {
  padding: 0 2%; }
  @media (min-width: 769px) {
    main #gallery .gallery img {
      padding: 0 25%; } }

main .divider {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }
  main .divider img {
    width: 35%; }
    @media (min-width: 769px) {
      main .divider img {
        width: 10%; } }

main #menu {
  text-transform: uppercase; }
  main #menu .titleAndArrowContainer {
    display: flex;
    justify-content: space-between; }
  main #menu .ingredienti {
    text-transform: capitalize;
    font-size: 14px;
    color: grey; }
  main #menu .elenco {
    text-align: center; }
    main #menu .elenco h4 {
      margin-bottom: 20px;
      font-size: 23px; }
    main #menu .elenco div:not(.piatto) {
      margin-bottom: 10px;
      padding-right: 20px; }
    @media (min-width: 769px) {
      main #menu .elenco {
        display: flex;
        justify-content: space-between;
        text-align: left; } }
  main #menu .fas {
    background-image: url(../images/svg/arr.svg);
    width: 5%;
    height: 11px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  main #menu .menuList > div {
    overflow: hidden;
    max-height: 60px;
    transition: max-height 0.5s ease-out; }
    main #menu .menuList > div h3 {
      font-size: 25px; }
      @media (min-width: 769px) {
        main #menu .menuList > div h3 {
          font-size: 30px; } }
    main #menu .menuList > div.open {
      max-height: 1080px;
      height: auto;
      transition: max-height 0.5s ease-in; }
      main #menu .menuList > div.open .fas {
        transform: rotateX(180deg); }
  main #menu .titleAndArrowContainer {
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    border-bottom: 2px solid black;
    padding: 10px 0; }
  main #menu .menuList > div {
    margin: 0 auto 20px; }
    @media (min-width: 769px) {
      main #menu .menuList > div {
        width: 90%; } }
    @media (min-width: 1024px) {
      main #menu .menuList > div {
        width: 80%; } }
  main #menu .piatto {
    padding-bottom: 10px;
    font-size: 17px;
    text-align: center;
    text-transform: capitalize; }
    .desktopView main #menu .piatto {
      font-size: 20px;
      text-align: left; }
    main #menu .piatto .dots {
      flex: 1;
      border-bottom: 1px dotted black; }
  main #menu .elenco h3 {
    margin-bottom: 30px; }
  main #menu .categoria {
    font-size: 25px;
    margin: 30px 0 10px;
    font-weight: bold; }

main #bar h3 {
  text-align: center;
  margin: 0 auto 30px; }

main #bar .barList {
  text-align: center; }
  @media (min-width: 769px) {
    main #bar .barList {
      display: flex;
      justify-content: space-between; } }
  main #bar .barList .categoria {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid black; }
    main #bar .barList .categoria:not(:first-of-type) {
      margin-top: 10px; }
  main #bar .barList > div {
    margin-bottom: 50px; }
    @media (min-width: 769px) {
      main #bar .barList > div {
        width: 45%; } }
    main #bar .barList > div .container {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      text-transform: capitalize; }
      main #bar .barList > div .container .dots {
        border-bottom: 1px dotted black;
        flex: 1; }

main #bar .containerVini {
  text-align: left;
  padding-bottom: 10px; }
  main #bar .containerVini > span:first-child {
    display: block;
    text-transform: capitalize; }
  main #bar .containerVini > span.descr {
    font-size: 11px; }

@media (max-width: 768px) {
  main #galleria .section {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white; }
    main #galleria .section > div {
      height: 300px; }
    main #galleria .section .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;
      padding: 0 10%; }
      main #galleria .section .content h3 {
        margin-bottom: 20px; }
    main #galleria .section .right {
      display: none; }
    main #galleria .section img {
      width: 100%;
      height: 100%;
      object-fit: cover; } }

main #galleria .second .middle {
  order: 1; }

@media (min-width: 769px) {
  main #galleria {
    height: auto;
    display: flex;
    flex-direction: column; }
    main #galleria .section {
      display: block;
      position: relative;
      padding: 0;
      margin: 0;
      float: left; }
      main #galleria .section div {
        width: 33.33%;
        margin: 0 auto;
        height: 22vh; } }
      @media (min-width: 769px) and (min-width: 1024px) {
        main #galleria .section div {
          height: 30vh; } }
      @media (min-width: 769px) and (min-width: 1028px) {
        main #galleria .section div {
          height: 45vh; } }
      @media (min-width: 769px) and (min-width: 1440px) {
        main #galleria .section div {
          height: 50vh; } }

@media (min-width: 769px) {
        main #galleria .section div .content,
        main #galleria .section div .overlay {
          width: 100%;
          background-color: black; }
        main #galleria .section div .content {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
        main #galleria .section div .overlay {
          opacity: 0.5;
          cursor: pointer;
          position: absolute; }
        main #galleria .section div h3,
        main #galleria .section div p {
          color: white; }
        main #galleria .section div p {
          padding: 0 16%;
          font-size: 16px;
          line-height: 1.5em; } }
        @media (min-width: 769px) and (min-width: 1028px) {
          main #galleria .section div p {
            font-size: 22px; } }

@media (min-width: 769px) {
        main #galleria .section div h3 {
          font-size: 24px;
          margin-bottom: 20px; } }
        @media (min-width: 769px) and (min-width: 1440px) {
          main #galleria .section div h3 {
            font-size: 28px; } }

@media (min-width: 769px) {
        main #galleria .section div.left, main #galleria .section div.right {
          position: absolute;
          right: 50%;
          transform: translateX(50%);
          top: 0;
          z-index: -100;
          transition: 0.5s ease-in-out all; }
        main #galleria .section div img {
          object-fit: cover;
          width: 100%;
          height: 100%; }
      main #galleria .section.animate .left {
        left: 0;
        transform: translateX(0);
        right: unset;
        z-index: 0; }
      main #galleria .section.animate .right {
        display: block;
        right: 0;
        transform: translateX(0);
        z-index: 0; } }

main #contacts {
  margin-bottom: 50px; }
  main #contacts .orari {
    margin-top: 40px; }
    @media (min-width: 769px) {
      main #contacts .orari {
        margin-top: 0; } }
    main #contacts .orari h3 {
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: bold; }
  @media (min-width: 769px) {
    main #contacts .wrapper {
      display: flex;
      justify-content: space-between;
      padding-right: 5%; } }
  main #contacts li {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px; }
    main #contacts li span:first-of-type {
      margin-right: 20px; }
  main #contacts .mapContainer {
    overflow: hidden;
    background: none !important; }
    @media (min-width: 769px) {
      main #contacts .mapContainer {
        width: 70%; } }
    main #contacts .mapContainer img {
      width: 100%;
      display: block; }

main .beerGallery {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  @media (min-width: 769px) {
    main .beerGallery {
      flex-wrap: nowrap; } }
  main .beerGallery .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000059;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px; }
  main .beerGallery > div:not(.overlay) {
    width: 33.33%; }
    main .beerGallery > div:not(.overlay) img {
      max-width: 100%;
      display: block; }

main #eventi {
  text-align: center;
  font-size: 25px; }
  @media (min-width: 769px) {
    main #eventi {
      margin-bottom: 400px; } }
  main #eventi p {
    padding: 10px 0;
    font-weight: bold; }
  main #eventi ul li {
    padding: 10px 0;
    text-decoration: underline; }
  main #eventi .details {
    font-size: 15px; }
  main #eventi.noEvents p {
    padding: 50px 0;
    font-size: 20px;
    text-align: center; }

main #eventi .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  main #eventi .wrapper .eventContainer {
    display: flex;
    height: 200px;
    margin: 0.5%;
    align-items: center;
    box-shadow: 10px 10px 21px -12px rgba(0, 0, 0, 0.75); }
    @media (min-width: 769px) {
      main #eventi .wrapper .eventContainer {
        width: 24%; } }
    main #eventi .wrapper .eventContainer .eventName {
      text-align: center;
      flex: 1; }
      main #eventi .wrapper .eventContainer .eventName span {
        font-size: 15px; }
      main #eventi .wrapper .eventContainer .eventName p {
        padding: 5px;
        text-transform: uppercase; }
    main #eventi .wrapper .eventContainer .data {
      width: 120px;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: black;
      color: white;
      text-transform: uppercase; }
      main #eventi .wrapper .eventContainer .data p {
        text-align: center;
        display: block;
        padding-bottom: 5px; }

footer {
  height: auto;
  background-color: black;
  position: relative; }
  footer .policy {
    text-align: right;
    width: 80%;
    margin: 0 auto; }
    footer .policy a {
      font-size: 10px;
      text-decoration: underline; }
      @media (min-width: 769px) {
        footer .policy a {
          font-size: 20px; } }
  footer article {
    padding: 40px 0 0 0;
    margin: 0; }
  footer h2 {
    color: white; }
  footer .envelope {
    background-image: url(../images/svg/mail.svg);
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  footer .mapMarker {
    background-image: url(../images/svg/mapmarker.svg);
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  footer .phoneSvg {
    background-image: url(../images/svg/phone.svg);
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  footer .facebook {
    background-image: url(../images/svg/faceb.svg);
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  footer .instagram {
    background-image: url(../images/svg/inst.svg);
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  footer .contattiContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; }
  footer .fas,
  footer .far,
  footer .fab {
    font-size: 40px;
    color: white; }
  footer p,
  footer a {
    color: white;
    font-size: 20px;
    display: block; }
    @media (min-width: 769px) {
      footer p,
      footer a {
        font-size: 25px; } }
  footer div {
    text-align: center;
    padding: 25px 0; }
    footer div.social {
      border-top: 3px solid white; }
    footer div p,
    footer div a {
      padding: 20px; }
    footer div .fab {
      padding: 0 10px; }
    footer div span {
      margin-bottom: 15px; }
  footer ul {
    width: 20%; }
    footer ul li {
      display: flex;
      justify-content: space-between; }
      footer ul li span {
        color: white; }

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px); }
  60% {
    -webkit-transform: translateY(-10px); } }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }
