//reset
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	margin-block-start: 0;
	margin-block-end: 0;
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 50px;
	font-size: 40px;
}

h3 {
	font-size: 27px;
	text-transform: uppercase;

	.desktopView {
		font-size: 30px;
	}
}

@mixin svg ($url, $width, $height) {
	background-image: $url;
	width: $width;
	height: $height;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}

article {
	margin-bottom: 100px;
}
html {
	&.overflowHidden {
		overflow: hidden;
		position: relative;

		body {
			overflow: hidden;
			position: relative;
		}
	}
}

//-------------------------------//
.modal {
	display: none;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	z-index: 3000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.9);

	> div {
		padding: 20% 2% 30%;
		text-align: right;

		.desktopView & {
			padding: 30% 2%;
			width: 60%;
			margin: 0 auto;
			background-color: transparent;
		}
	}
}

.modal img {
	width: 100%;
	display: block;
}

.modalImage {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.close {
	color: white;
	font-size: 50px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@-webkit-keyframes zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes zoom {
	from {
		transform: scale(0.1);
	}

	to {
		transform: scale(1);
	}
}

//HEADER

header {
	.hamburgerContainer {
		background-color: black;
		position: fixed;
		width: 100vw;
		top: 0;
		left: 0;
		right: 0;
		box-sizing: border-box;
		padding: 0 10px;
		display: flex;
		height: 60px;
		align-items: center;
		z-index: 2000;
		justify-content: space-between;

		.desktopView & {
			display: none;
		}

		.logo {
			img {
				padding-top: 5px;
				width: 75px;
			}
		}

		.hamburger {
			display: inline-block;

			.line {
				width: 30px;
				height: 4px;
				background-color: #ecf0f1;
				display: block;
				margin: 5px auto;
				-webkit-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}

			&.active {
				.line {
					&:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(1) {
						-webkit-transform: translateY(5px) rotate(45deg);
						-ms-transform: translateY(5px) rotate(45deg);
						-o-transform: translateY(5px) rotate(45deg);
						transform: translateY(5px) rotate(45deg);
					}

					&:nth-child(3) {
						-webkit-transform: translateY(-13px) rotate(-45deg);
						-ms-transform: translateY(-13px) rotate(-45deg);
						-o-transform: translateY(-13px) rotate(-45deg);
						transform: translateY(-13px) rotate(-45deg);
					}
				}
			}
		}
	}

	nav {
		background-color: #000000ed;
		transition: width 0.5s ease;
		width: 0;
		top: 60px;
		right: 0;
		box-sizing: border-box;
		right: 0;
		z-index: 2000;
		position: fixed;
		height: auto;

		li {
			display: none;
		}

		&.open {
			width: 100%;

			li {
				display: block;
				padding-bottom: 25px;
				width: 100%;

				&:first-of-type {
					padding-top: 25px;
				}

				a {
					font-size: 20px;
					font-weight: bold;
				}
			}
		}

		.desktopView & {
			width: 100%;
			top: 0;

			li {
				display: block;
			}

			&.sticky {
				background-color: black;
				box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.75);

				ul {
					position: relative;

					li {
						a {
							color: white;
						}

						&.logo {
							visibility: visible;
						}

						&:hover {
							a {
								color: lightgray;
							}
						}
					}
				}
			}
		}

		ul {
			display: flex;
			flex-direction: column;
			position: relative;
			height: 100vh;

			.desktopView & {
				flex-direction: row;
				height: auto;
				justify-content: center;
				width: 97%;
				margin: 0 auto;
			}

			li {
				width: 16.66%;
				text-align: center;
				cursor: pointer;

				.desktopView & {
					border-bottom: 9px solid transparent;

					&:hover {
						border-bottom: 9px solid grey;
					}

					&.logo,
					&.slider {
						border-bottom: none;
					}

					&.logo {
						width: 18%;
					}

					a {
						padding: 40px 0;
					}
				}

				&:hover {
					a {
						color: lightgray;
					}
				}

				a {
					padding: 5px;
					color: white;
					text-transform: uppercase;
					display: block;
					width: 100%;

					@media (min-width: 1280px) {
						font-size: 25px;
					}
				}

				&.logo {
					display: none;

					.desktopView & {
						display: block;
						cursor: default;
						position: relative;

						img {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}
				}

				&.slider {
					display: none;

					.desktopView & {
						display: block;
						position: absolute;
						padding: 5px;
						width: 14%;
						background-color: #900a0a;
						left: 0;
						bottom: 0;
						transition: left 0.2s linear;
					}
				}
			}
		}
	}
}

main {
	.cover {
		//height: 100vh;

		width: 100%;
		padding-bottom: 50px;

		> div {
			position: relative;
		}

		.slick-dots {
			bottom: 5px;
		}

		.slick-list {
			height: 100vh;
		}

		.slick-dotted.slick-slider {
			margin-bottom: 0;
		}

		img {
			width: 100%;
			max-height: 100%;
			object-fit: cover;
			height: 100vh;
		}

		.angleOverlay {
			width: 100%;
			height: 86%;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}

		.arrow {
			@include svg(url(../images/svg/arrow_1.svg), 11%, 30px);

			cursor: pointer;

			&.bounce {
				-webkit-animation-name: bounce;
				animation-name: bounce;
				-webkit-transform-origin: center bottom;
				transform-origin: center bottom;
				animation-iteration-count: infinite;
				-webkit-animation-iteration-count: infinite;
			}

			&.animated {
				-webkit-animation-duration: 2s;
				animation-duration: 2s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
		}
	}

	.site-content {
		width: 95%;
		margin: auto;
	}

	//introduction
	.introduction {
		> p {
			text-transform: uppercase;
			text-align: center;
			line-height: 1.5em;
			font-size: 20px;
			padding: 60px 10px 60px;
			font-weight: bold;

			.desktopView & {
				font-size: 30px;
				padding: 100px 17%;
				margin: 0;
				font-weight: bold;
			}
		}
	}

	#gallery {
		h3 {
			text-align: center;
			font-size: 30px;
			margin-bottom: 40px;
		}

		.gallery {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-self: center;

			img {
				cursor: pointer;
				min-height: 100%;
				padding-bottom: 10px;
				object-fit: cover;
				width: 49%;
				align-self: center;

				.desktopView & {
					width: 33%;
					padding: 0.3% 0;
				}
			}

			.slick-slide {
				padding: 0 1%;
			}
		}
	}

	.divider {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;

		img {
			width: 35%;

			.desktopView & {
				width: 10%;
			}
		}
	}

	//menu
	#menu {
		text-transform: uppercase;

		.titleAndArrowContainer {
			display: flex;
			justify-content: space-between;
		}

		.ingredienti {
			text-transform: capitalize;
			font-size: 14px;
			color: grey;
		}

		.elenco {
			text-align: center;

			h4 {
				margin-bottom: 20px;
				font-size: 23px;
			}

			div:not(.piatto) {
				margin-bottom: 10px;
				padding-right: 20px;
			}

			.desktopView & {
				display: flex;
				justify-content: space-between;
				text-align: left;
			}
		}

		.fas {
			font-size: 20px;
		}

		.menuList > div {
			overflow: hidden;
			max-height: 60px;
			transition: max-height 0.5s ease-out;

			h3 {
				font-size: 25px;

				.desktopView & {
					font-size: 30px;
				}
			}

			&.open {
				max-height: 1080px;
				height: auto;
				transition: max-height 0.5s ease-in;

				.fas {
					transform: rotateX(180deg);
				}
			}
		}

		.titleAndArrowContainer {
			align-items: center;
			margin-bottom: 20px;
			cursor: pointer;
			border-bottom: 2px solid black;
			padding: 10px 0;
		}

		.menuList {
			> div {
				margin: 0 auto 20px;

				.desktopView & {
					width: 70%;
				}
			}
		}

		.piatto {
			padding-bottom: 10px;
			font-size: 17px;
			text-align: center;
			text-transform: capitalize;

			.desktopView & {
				font-size: 20px;
				text-align: left;
			}

			.dots {
				flex: 1;
				border-bottom: 1px dotted black;
			}
		}

		.elenco h3 {
			margin-bottom: 30px;
		}

		.categoria {
			font-size: 25px;
			margin: 30px 0 10px;
			font-weight: bold;
		}
	}

	//-----------------BAR --------------------------//
	#bar {
		h3 {
			text-align: center;
			margin: 0 auto 30px;
		}

		.barList {
			text-align: center;

			.desktopView & {
				display: flex;
				justify-content: space-between;
			}

			.categoria {
				font-size: 20px;
				margin-bottom: 10px;
				text-transform: uppercase;
				display: inline-block;
				border-bottom: 1px solid black;

				&:not(:first-of-type) {
					margin-top: 10px;
				}
			}

			> div {
				.desktopView & {
					width: 45%;
				}

				margin-bottom: 50px;

				.container {
					display: flex;
					justify-content: space-between;
					padding: 5px 0;
					text-transform: capitalize;

					.dots {
						border-bottom: 1px dotted black;
						flex: 1;
					}
				}
			}
		}

		.containerVini {
			text-align: left;
			padding-bottom: 10px;

			> span {
				&:first-child {
					display: block;
					text-transform: capitalize;
				}

				&.descr {
					font-size: 11px;
				}
			}
		}
	}

	//--------------------------- GALLERIA --------------------------//

	#galleria {
		.section {
			.mobileView & {
				text-align: center;
				display: flex;
				flex-direction: column;
				background-color: black;
				color: white;

				> div {
					height: 300px;
				}

				.content {
					display: flex;
					flex-direction: column;
					align-items: center;
					height: 100%;
					justify-content: center;
					padding: 0 10%;

					h3 {
						margin-bottom: 20px;
					}
				}

				.right {
					display: none;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.second {
			.middle {
				order: 1;
			}
		}

		.desktopView & {
			height: auto;
			display: flex;
			flex-direction: column;

			.section {
				display: block;
				position: relative;
				padding: 0;
				margin: 0;
				float: left;

				div {
					width: 33.33%;
					margin: 0 auto;
					height: 60vh;

					.content,
					.overlay {
						width: 100%;
						background-color: black;
					}

					.content {
						text-align: center;
						display: flex;
						flex-direction: column;
						justify-content: center;
					}

					.overlay {
						opacity: 0.5;
						cursor: pointer;
						position: absolute;
					}

					h3,
					p {
						color: white;
					}

					p {
						padding: 0 16%;
						font-size: 22px;
						line-height: 1em;

						@media only screen and (min-width: 1280px) {
							line-height: 2em;
						}
					}

					h3 {
						font-size: 30px;
						margin-bottom: 20px;
					}

					&.left,
					&.right {
						position: absolute;
						right: 50%;
						transform: translateX(50%);
						top: 0;
						z-index: -100;
						transition: 0.5s ease-in-out all;
					}

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}

				&.animate {
					.left {
						left: 0;
						transform: translateX(0);
						right: unset;
						z-index: 0;
					}

					.right {
						display: block;
						right: 0;
						transform: translateX(0);
						z-index: 0;
					}
				}
			}
		}
	}

	//---------------------- CONTATTI -----------------//
	#contacts {
		margin-bottom: 50px;

		.orari {
			h3 {
				text-transform: uppercase;
				margin-bottom: 20px;
				font-weight: bold;
			}
		}

		.desktopView & {
			.wrapper {
				display: flex;
				justify-content: space-between;
			}
		}

		li {
			padding-bottom: 10px;
			display: flex;
			justify-content: space-between;
			font-size: 20px;

			span:first-of-type {
				margin-right: 20px;
			}
		}

		.mapContainer {
			overflow: hidden;
			background: none !important;

			img {
				width: 100%;
				display: block;
			}

			.desktopView & {
				width: 70%;
			}
		}
	}

	//----------------- EVENTI ----------------------//

	#eventi {
		text-align: center;
		font-size: 25px;

		p {
			padding: 10px 0;
			font-weight: bold;
		}

		ul li {
			padding: 10px 0;
			text-decoration: underline;
		}

		.details {
			font-size: 15px;
		}

		&.noEvents {
			p {
				padding: 50px 0;
				font-size: 20px;
				text-align: center;
			}
		}
	}

	#eventi .wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.eventContainer {
			display: flex;
			height: 200px;

			margin: 0.5%;
			align-items: center;
			box-shadow: 10px 10px 21px -12px rgba(0, 0, 0, 0.75);

			.desktopView & {
				width: 24%;
			}

			.eventName {
				text-align: center;
				flex: 1;

				span {
					font-size: 15px;
				}

				p {
					padding: 5px;
					text-transform: uppercase;
				}
			}

			.data {
				width: 120px;
				height: 100%;
				display: flex;
				justify-content: center;
				flex-direction: column;
				background: black;
				color: white;
				text-transform: uppercase;

				p {
					text-align: center;
					display: block;
					padding-bottom: 5px;
				}
			}
		}
	}

	@-webkit-keyframes bounce {
		0%,
		20%,
		50%,
		80%,
		100% {
			-webkit-transform: translateY(0);
		}

		40% {
			-webkit-transform: translateY(-20px);
		}

		60% {
			-webkit-transform: translateY(-10px);
		}
	}

	@keyframes bounce {
		0%,
		20%,
		50%,
		80%,
		100% {
			transform: translateY(0);
		}

		40% {
			transform: translateY(-20px);
		}

		60% {
			transform: translateY(-10px);
		}
	}
}

//-----------------footer--------------------------
footer {
	height: auto;
	background-color: black;
	position: relative;

	.envelope {
		@include svg(url(../images/svg/mail.svg), 50px, 50px);
	}
	.mapMarker {
		@include svg(url(../images/svg/mapmarker.svg), 50px, 50px);
	}
	.phoneSvg {
		@include svg(url(../images/svg/phone.svg), 50px, 50px);
	}
	.facebook {
		@include svg(url(../images/svg/faceb.svg), 30px, 30px);
	}
	.instagram {
		@include svg(url(../images/svg/inst.svg), 30px, 30px);
	}

	.contattiContainer {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}

	.fas,
	.far,
	.fab {
		font-size: 40px;
		color: white;
	}

	p,
	a {
		color: white;
		font-size: 20px;
		display: block;

		.desktopView & {
			font-size: 25px;
		}
	}

	.privacy {
		font-size: 15px;
		width: 90%;
		margin: 0 auto;
		text-align: right;
		position: absolute;
		bottom: 10px;
	}

	div {
		text-align: center;
		padding: 25px 0;

		&.social {
			border-top: 2px solid white;
		}

		p,
		a {
			padding: 20px;
		}

		.fab {
			padding: 0 10px;
		}

		span {
			margin-bottom: 15px;
		}
	}

	ul {
		width: 20%;

		li {
			display: flex;
			justify-content: space-between;

			span {
				color: white;
			}
		}
	}
}
